{% extends "base.html" %}
{% load static %}

{% block extra-title %} - Hompage{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content%}
    <div class="container h-80">
        <div class="row h-80">
            <div class="col-9 col-md-8 my-auto">
                <h1 class="display-4 logo-font text-white">
                   Fit Time in for You
                </h1>
                <div class="my-4">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-4 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- special offer banner -->
    <div class="container h-20">
        <div id = "special-offer-banner" class="row text-center w-100">
            <div class="col bg-black text-white text-info">
                <a href="{% url 'products' %}" class="col-12 my-auto">
                    <h2 class="my-1 banner-info">
                        Check Out Today's Top Offers!
                    </h2>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
        </div>
        <!-- delivery banner -->
        <div id="shipping-banner" class="row text-center">
            <div class="col bg-white text-black w-100">
                <h4 class="my-1">Free shipping on orders over €{{ free_shipping_threshold }}</h4>
            </div>
        </div>
    
{% endblock %}