{% extends "base.html" %}
{% load static %}

{% block extra-title %} - Hompage{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container main-message">
        <div class="row h-80 mt-4">
            <div class="col-9 col-md-8 my-auto">
                <h1 class="display-4 logo-font text-white">
                   Fit Time in for You
                </h1>
                <div class="my-4">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-4 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}