{% extends "base.html" %}
{% load static %}

{% block extra-title %} - Hompage{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container h-100 main-message">
        <div class="row h-100 mt-4">
            <div class="col-9 col-md-8 my-auto">
                <h1 class="display-4 main-message-font text-white">
                   Fit Time in for You
                </h1>
                <div class="my-4">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-4 text-uppercase py-3" aria-label="shop-now">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}