@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald:wght@200;300;600&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #fafafa;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 100px;
    clear: both;
}

h4 {
    font-family: 'Oswald', sans-serif;
}

hr {
    width: 20%;
    border: 2px solid rgba(6, 6, 12, 0.877);
}
/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    letter-spacing: 1rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Abril Fatface', sans-serif;
    font-size: 1rem;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    color: black;
}

.logo-font:hover,
.logo-font:active,
.logo-font:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: rgba(37, 63, 146, 0.034);
    color: white; 
}

.main-logo-link {
    width: fit-content;
    text-transform: uppercase;
    font-family: 'Abril Fatface', sans-serif;
    color: #091479d7;
}

.border-black {
    border: 2px solid black !important;
}

.text-black {
    color: #000 !important;
}

.btn-black {
    background: black;
    color: #fafafa;
}

.shop-now-button {
    background: rgb(2, 4, 37);
    color: #fafafa;
    min-width: 140px;
    letter-spacing: 1.5px;
    border-radius: 22px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white; 
}

.nav-item {
    margin: 10px;
}

.bg-black {
    background: #000 !important;
}

.text-black {
    color: #000 !important;
}



/* ------------------------------------overlay to cover background image */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(35 57 165 / 90%);
    z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #222;
}

/* ----------------------------------------------------- Message */

.main-message {
    padding-top: 300px;
}

/* ----------------------------------------------------- Banners */

#shipping-banner {
    border: 2px solid black;
    background: black;
    color: white;
    font-family:'Abril Fatface', sans-serif;
}

.banner-info {
    text-emphasis-color: black;
    font-family: 'Abril Fatface', sans-serif;
}

/* ----------------------------------------------------- Search Boxes */

input[name='q']::placeholder {
     color: #aab7c4;
}

/* -----------------------------------------------------Products Container */

.text-muted {
    color: black;
    font-size: 1.5rem;
}


/* -----------------------------------------------------Product Admin Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
    border-radius: 0;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* -----------------------------------------------------Product images */

.card-img-top {
    height: 300px;
    border: 4px solid black;
}

.card-footer .card-body {
    border: 4px solid black;
}

/* -----------------------------------------------------Products Container */

.reviews-wrapper {
    padding-bottom: 30px;
}


/* -----------------------------------------------------Contact Details */

.contact-details {
    color: black;
    font-family: 'Oswald', sans-serif;
    margin: auto;
    background: #92929f;
}

.contact-title {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    letter-spacing: 1.5px;
}

/* ---------------------------------------------------- Forms */

#contact-form {
    padding: 40px;
}

/* -----------------------------------------------------Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 100px;
    right: 30px;
    z-index: 99999999999;
    height: 1500px;
}

.custom-toast {
    overflow: visible;

}

/* --------------------------------------------------------------- Footer */
.

.footer-details {
    position: relative;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #fafafa;
    z-index: 10;
}

/* ----------------------------------------------- Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */ 
    
}

.allauth-form-inner-content {
    border-color: #000;
    border-radius: 1px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}


/* ---------------------------------------------------------- Media Queries */

/* For screens with extra large screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* ------------------------------------fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .footer-container {
        padding-bottom: 100px;
    }

    .display-4.log-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.20rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .btn.btn-black.rounded-1,
    .btn.btn-black.rounded-1 {
        padding: .300rem .300rem;
    }

    .btn.btn-black.rounded-1.btn-lg,
    .btn.btn-black.rounded-1.btn-lg {
        padding: .300rem .300rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    .review {
        padding-bottom: 214px;
    }
}

@media (max-width: 812px) {
    .header-container {
        padding-top: 100px;
    }

    body {
        height: calc(100vh - 100px);
    }

}

/* ----------------------------padding for mobile to push images below navbar */

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .main-message {
        padding-top: 24px;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .5rem .5rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: 2rem;
    }

    .footer-container {
        padding-top: 10px;
    }

    .banner-info {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    .shop-now-button.btn.btn-lg.rounded-4 {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    .icon-label {
        font-size: 0.9rem;
    }

    .shop-now-button.btn.btn-lg.rounded-4 {
        padding: 0.9rem 0.9rem;
        font-size: .9rem;
    }
    .shop-now-button {
        background: #0d3156;
        color: #fafafa;
        min-width: 140px;
        letter-spacing: 1.5px;
        border-radius: 10px;
    }

    .logo-font {
        font-size: .75rem;
    }
    
    .icon-label {
        font-size: small;
    }

}


