html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #fafafa;
    font-family: 'Oswald'; 
}


/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    text-shadow: 5px 5px #222;
}

.main-logo-link {
    width: fit-content;
}

.border-black {
    border: 2px solid black !important;
}

.text-black {
    color: #000 !important;
}

.btn-black {
    background: black;
    color: #fafafa;
}

.join-now-button {
    background: #555;
    color: #fafafa;
    min-width: 140px;
    letter-spacing: 1.5px;
    border-radius: 22px;
}

.join-now-button:hover,
.join-now-button:active,
.join-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white; 
}

.nav-item {
    margin: 10px;
}

.bg-black {
    background: #000 !important;
}

/* overlay to cover background image */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: blue;
    z-index: -1;
}

/* ---------------------------------- Media Queries */

/* For screens with extra large screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

