<div class="container-fluid footer-details h-30">
    <div class="row p-2 d-flex">
        <!-- Section: Social media -->
        <div class="col-lg-4 social-links text-center">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating" target="_blank" href="https://facebook.com" rel="noopener" role="button"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
            <!-- LinkedIn -->
            <a class="btn btn-outline-light btn-floating" target="_blank" href="https://linkedin.com" rel="noopener" role="button"><i class="fab fa-google" aria-hidden="true"></i></a>
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating" target="_blank" href="https://twitter.com" rel="noopener" role="button"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating" target="_blank" href="https://instagram.com" rel="noopener" role="button"><i class="fab fa-instagram" aria-hidden="true"></i></a>
        </div>
        <!-- Note -->
        <div class="col-lg-4 text-center text-white">
            <p class="text-white text-center">
                For Educational Purposes only.
            </p>
            <!-- Copyright -->
            <p>
                <small>© 2021 Copyright: Leah Holmes</small>
            </p>
        </div>
        <!-- Contact Us -->
        <div class="col-lg-4 text-center text-white">
            <a href="{% url 'contact' %}">
                <h3 class="text-white text-center">Contact Us</h3>
                <p class="text-white text-center">We would love to hear from you.</p>
            </a>
        </div>
    </div> 
</div>
