<!-- special offer banner -->
<div id = "special-offer-banner" class="row text-center w-100">
    <div class="col bg-dark text-white text-info">
        <a href="{% url 'products' %}" class="col-12 my-auto">
            <h2 class="my-1 banner-info">
                Check Out Today's Top Offers!
            </h2>
        </a>
    </div>
</div>
<div class="row">
    <div class="col"></div>
</div>
<!-- delivery banner -->
<div id="shipping-banner" class="row text-center">
    <div class="col bg-white text-black w-100">
        <h4 class="my-1">Free shipping on orders over €{{ free_shipping_threshold }}</h4>
    </div>
</div>
<div class="container-fluid footer-container w-100">
    <div class="row my-2">
        <!-- Section: Social media -->
        <div class="col-lg-4 social-links text-center" style="background-color: rgba(0, 0, 0, 0.9);">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating" target="_blank" href="https://facebook.com" rel="noopener" role="button"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
            <!-- LinkedIn -->
            <a class="btn btn-outline-light btn-floating" target="_blank" href="https://linkedin.com" rel="noopener" role="button"><i class="fab fa-google" aria-hidden="true"></i></a>
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating" target="_blank" href="https://twitter.com" rel="noopener" role="button"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating" target="_blank" href="https://instagram.com" rel="noopener" role="button"><i class="fab fa-instagram" aria-hidden="true"></i></a>
        </div>
        <!-- Copyright -->
        <div class="col-lg-4 text-center pt-2" style="background-color: rgba(0, 0, 0, 0.9);">
            <p>
                © 2021 Copyright: Leah Holmes
            </p>
        </div>
        <div class="col-lg-4 text-center" style="background-color: rgba(0, 0, 0, 0.9);">
            <p>
                For Educational Purposes only.
            </p>
        </div>
    </div> 
</div>
