<div class="container-fluid">
    <div class="row footer-container ">
        <!-- Section: Social media -->
        <div class="col-lg-4 social-links text-center">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating" target="_blank" href="https://facebook.com" rel="noopener" role="button"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
            <!-- LinkedIn -->
            <a class="btn btn-outline-light btn-floating" target="_blank" href="https://linkedin.com" rel="noopener" role="button"><i class="fab fa-google" aria-hidden="true"></i></a>
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating" target="_blank" href="https://twitter.com" rel="noopener" role="button"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating" target="_blank" href="https://instagram.com" rel="noopener" role="button"><i class="fab fa-instagram" aria-hidden="true"></i></a>
        </div>
        <!-- Contact Us -->
        <div class="col-lg-4 text-center">
            <div class="col-12 text-center">
                <a href="{% url 'contact' %}">
                    <h3>Contact Us</h3>
                </a>
            </div>
        </div>
        <!-- Note -->
        <div class="col-lg-4 text-center">
            <p>
                For Educational Purposes only.
            </p>
        </div>
        <!-- Copyright -->
        <div class="row">
            <div class="col-12 text-center">
                <p>
                    <small>© 2021 Copyright: Leah Holmes</small>
                </p>
            </div>
        </div>
    </div> 
</div>
