<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Products
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="all-products-link">
                <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a>
                <a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a>
                <a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a>
                <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
            </div>
        </li>
        <!-- Menu for classes -->
        <li class="nav-item dropdown">
            <a class="btn btn-outline-dark dropdown-toggle" type="button" id="classes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Classes
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="classes-link">
                <a class="dropdown-item" href="{% url 'products' %}?category=beginners">Beginners</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=intermediate">Intermediate</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=advanced">Advanced</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=beginners,intermediate,advanced">All Classes</a>
            </div>
        </li>
        <!-- menu for Nutrition -->
        <li class="nav-item dropdown">
            <a class="btn btn-outline-dark dropown-toggle" type="button" id="classes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Nutrition
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="classes-link">
                <a class="dropdown-item" href="{% url 'products' %}?category=snacks">Snacks</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=drinks">Drinks</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=mains">Mains</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=snacks,drinks,mains">All Nutrition</a>
            </div>
        </li>
        <!-- menu for Shop -->
        <li class="nav-item dropdown">
            <a class="btn btn-outline-dark dropdown-toggle" type="button" id="classes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Clothing
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="classes-link">
                <a class="dropdown-item" href="{% url 'products' %}?category=runners">Runners</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=tops">Tops</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=sports_equipment">Sports Equipment</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=runners,tops,equipment">All Products</a>
            </div>
        </li>
        <!-- menu for Special Offers  -->
        <li class="nav-item dropdown">
            <a class="btn btn-outline-dark dropdown-toggle" type="button" id="special-offers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Special Offers
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="special-offers-link">
                <a class="dropdown-item" href="{% url 'products' %}?category=top_offers">Top Offers</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=sale">Sale</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=what&s_new">What's New</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=top_offers,sale,what&s_new">All Offers</a>
            </div>
        </li>
    </ul>
</div>

  