<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Products
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="all-products-link">
                <a class="dropdown-item" href="#">By Price</a>
                <a class="dropdown-item" href="#">By Rating</a>
                <a class="dropdown-item" href="#">By Category</a>
                <a class="dropdown-item" href="#">All Products</a>
            </div>
        </li>
        <!-- Menu for classes -->
        <li class="nav-item dropdown">
            <a class="btn btn-outline-dark dropdown-toggle" type="button" id="classes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Classes
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="classes-link">
                <a class="dropdown-item" href="#">Beginners</a>
                <a class="dropdown-item" href="#">Intermediate</a>
                <a class="dropdown-item" href="#">Advanced</a>
                <a class="dropdown-item" href="#">All Classes</a>
            </div>
        </li>
        <!-- menu for Nutrition -->
        <li class="nav-item dropdown">
            <a class="btn btn-outline-dark dropdown-toggle" type="button" id="classes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Nutrition
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="classes-link">
                <a class="dropdown-item" href="#">Snacks</a>
                <a class="dropdown-item" href="#">Drinks</a>
                <a class="dropdown-item" href="#">Mains</a>
                <a class="dropdown-item" href="#">All Nutrition</a>
            </div>
        </li>
        <!-- menu for Shop -->
        <li class="nav-item dropdown">
            <a class="btn btn-outline-dark dropdown-toggle" type="button" id="classes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Clothing
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="classes-link">
                <a class="dropdown-item" href="#">Runners</a>
                <a class="dropdown-item" href="#">Tops</a>
                <a class="dropdown-item" href="#">Sports Equipment</a>
                <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
            </div>
        </li>
        <!-- menu for Special Offers  -->
        <li class="nav-item dropdown">
            <a class="btn btn-outline-dark dropdown-toggle" type="button" id="special-offers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Special Offers
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="special-offers-link">
                <a class="dropdown-item" href="#">Top Offers</a>
                <a class="dropdown-item" href="#">Sale</a>
                <a class="dropdown-item" href="#">What's New</a>
                <a class="dropdown-item" href="#">All Offers</a>
            </div>
        </li>
    </ul>
</div>

  