{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content%}
    <div class="overlay"></div>
    <!-- 404 error -->
    <div class="container container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 my-auto">
                <h1 class="display-4 text-white">
                   500 Error - Server Error
                </h1>
                <h4 class="text-center">
                    Sorry the server could not complete your request.
                </h4>
                <br>
                <a href="{% url 'home' %}" class="btn btn-lg rounded-4 text-uppercase py-3">Home</a>
            </div>
        </div>
    </div>
{% endblock %}