{% extends "base.html" %}
{% load static %}

{% block content%}
    <div class="overlay"></div>
    <!-- 404 error -->
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-white text-center">
                   500 Error - Server Error
                </h1>
                <p class="text-center">
                    Sorry the server could not complete your request.
                </p>
                <br>
                <a href="{% url 'home' %}" class="btn btn-lg rounded-4 text-uppercase text-black py-3" aria-label="home">Click here to return Home</a>
            </div>
        </div>
    </div>
{% endblock %}