{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <!-- product image -->
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img src="{{ MEDIA_URL }}media/noimage.jpg" class="card-img-top img-fluid" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- product details -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ product.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                    <!-- link for category -->
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-muted"><i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}</a>
                    </p>
                    {% endif %}
                    <!-- link for product rating -->
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a>
                            <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete</a>
                        </small>
                    {% endif %}
                    
                    <!-- link for product review -->
                    <div class="reviews-wrapper">
                        <div class="review text-danger">
                            <h4>Write a review</h4>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <form action="{% url 'add_review' product.id %}" class="form" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form|crispy }}
                                    <span>
                                        <button class="btn btn-black rounded-1 mt-4 mr-4" type="submit">
                                            Leave a review
                                        </button>
                                    </span>
                                    <span>
                                        <a href="{% url 'product_detail' product.id%}" class="btn btn-danger mt-4 mr-4">Cancel</a>
                                    </span>
                                </form>
                            </div>
                        </div>
                        {% for review in reviews %}
                            <div>
                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.review }} / 5</small>
                                {% if request.user.is_authenticated %}
                                    <small class="ml-3">
                                        <a href="{% url 'edit_review' product.id %}">Edit</a>
                                        <a href="{% url 'delete_review' review.id %}" class="text-danger">Delete</a>
                                    </small>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    
                    <p class="mt-3">{{ product.description }}</p>
                    <!-- form to add a product to the shopping bag -->
                    <!-- form from bootstrap and changed to suit -->
                    <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.has_sizes as s %}
                            {% if s %}
                                <div class="col-12">
                                    <p><strong>Size:</strong></p>
                                    <select name="product_size" id="id_product_size" class="form-control rounded-1 w-50">
                                        <option value="xs">XS</option>
                                        <option value="s">S</option>
                                        <option value="m" selected>M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                    </select>
                                </div>
                            {% endif %}
                            <div class="col-6">
                                <p class="mt-3">Quantity:</p>
                                <input type="number" class="form-control qty_input" id="id_qty_{{ product.id }}" value="1" name="quantity" min="1" max="99" data-item_id="{{ product.id }}">
                                  <a href="{% url 'products' %}" class="btn btn-outline-black rounded-2 mt-2"></a>
                            </div>
                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <div>
                                    <input type="submit" class="btn btn-black rounded-2" value="Add to Bag">
                                </div>
                                <a href="{% url 'products' %}" class="btn btn-info rounded-4 mt-4">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left text-black"></i>
                                    </span>
                                    <span class="text-uppercase text-white">Continue Shopping</span>
                                </a>
                            </div>  
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </div>
{% include 'reviews/includes/reviews.html' %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html'%}
{% endblock %}