{% block content %}
{% load static %}

<!-- Reviews container -->
<div class="container reviews-container mt-1 mb-1">
    <div class="row">
        <div class="col-12 text-center">
            <h3><strong>Latest Reviews</strong></h3>
                <p>Read through some of our reviews below.</p>
        </div>
        <div class="col-12 reviews">
            {% if reviews %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-border">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Review</th>
                            </tr>
                        </thead>
                    
                        {% for review in reviews %}
                            <tr>
                                <td class="p-3 w-25">
                                    <p class="my-0">{{ item.product.name }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-3 w-25">
                                    <p class="my-0">{{ item.review }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>No Reviews</p>
            {% endif %}



                </table>
                <div class="read-review mt-1">
                    <h3>Customer Review</h3>
                </div>
            </div>
            <!-- Accordian for reviews -->
            <div class="review-accordion" id="accordian-r">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="review-title">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        View Review
                    </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse  show" aria-labelledby="headingOne" data-bs-parent="accordian-r">
                        <div class="accordion-body">
                            {% if reviews %}
                                {% for review in reviews %} 
                                    <h4><strong>{{ review.title }}</strong>
                                    {{ review.comment }}
                                    </h4>
                                {% endfor %}
                            {% endif %}            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if reviews %}
    {% for review in reviews %}
        <h4 class="text-uppercase">{{ review.title }}</h4>
        <hr>
        {% if request.user.is_authenticated %}
            {% if request.user|lower == review.user|lower %}
                <div>
                    <a href="{% url 'edit_review' review.id %}">Edit Review</a>
                </div>
                <div>
                    <a href="{% url 'delete_review' review.id %}" class="text-danger">Delete Review</a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% else %}
    <h4 class="no-reviews">No reviews</h4>            
{% endif %}
<!-- Add a review -->
<!-- link for product review -->
<div class="reviews-wrapper">
    <div class="review text-black">
        <h4>Write a review</h4>
            <a href="{ url 'add_review' product.id %}" class="btn btn-black mt-4">Add a review</a>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <form action="{% url 'add_review' product.id %}" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
                <span>
                    <button class="btn btn-black rounded-1 mt-4 mr-4" type="submit">
                        Leave a review
                    </button>
                </span>
                <span>
                    <a href="{% url 'product_detail' product.id%}" class="btn btn-danger mt-4 mr-4">Cancel</a>
                </span>
            </form>
        </div>
    </div>
</div>
{% endblock %}
